:root {
--off-black: #111111;
--off-white: #f5f5f5;
--off-gray: #bbb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    font-family: "Ramona";
    font-weight: 700;
}

#colorpicker{
    position: absolute;
    right: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: radial-gradient(gray 1px, var(--off-white) 0);
    background-size: 10px 10px, 10px 10px;
    overscroll-behavior: none;
}

#launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0px 100px;
}

#launch > .container {
    box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 1);
    border: 1px solid var(--off-black);
    background-color: var(--off-white);
    height: auto;
    width: auto;
    padding: 10px;
}

#launch > .container > p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

.forward {
    background-color: var(--off-black);
    margin: 20px 10px 0px 10px;
    color: var(--off-white);
    padding: 5px 8px;
}

#navbuttons {
    display: flex;
}

#navbuttons >  a:link {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    padding: 20px;
    position: relative;
}

#self-info {
    flex-direction: column;
}

.sidebar {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 9;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--off-white);
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
    border: 1px solid var(--off-black);
    box-shadow: 7px 7px;
    padding: 0px;
    z-index: 1;
    margin: 10px;
    height: 325px;
    width: 325px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.1s ease-out 100ms, width 0.1s ease-out 100ms, height 0.1s ease-out 100ms;
}

.card:hover{
    box-shadow: 0px 0px;
    /*
    width: 332px;
    height: 332px;
    */
    cursor: pointer;
}

.bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0px;
    background-color: #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px !important;
}

.bar > * {
    margin: 5px;
}

.sidebar-text{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Ramona", sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #555;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing : -10px;
}

.piccard > img:hover {
    filter: hue-rotate(180deg);
    transition: saturate() .5s ease;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons > * {
    margin-left: 5px
}

.background-text {
    position: absolute;
    margin-top: 50vh;
    font-family: "Roboto", sans-serif;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #616161;
    text-transform: uppercase;
    letter-spacing: 0px;
    opacity: .5;
    transform: rotate(-30deg);
    z-index: -1; /* Set a negative z-index to appear behind other elements */
  }

#linkedin{
    height: 30px;
}

  .piccard {
    border: 2.5px solid var(--off-black);
    box-shadow: 7px 7px;
    padding: 10px;
    z-index: 1;
    margin: 10px;
    width: 325px;
    height: 325px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--off-white);
    border-bottom: 1px solid var(--off-black);
    flex-direction: row;
    border-radius: 5px;
  }

#header > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

.card > img {
    width: 100%;
    height: auto;
    max-height: 80%;
    object-fit: cover;
}

.card-title{
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0px;
}


.card-text {
    font-weight: 300;
    padding: 0px 0px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin: auto;
}

#name {
    font-family: 'Ramona';
    font-size: 50px;
}

@font-face {
    font-family: 'Redlands';
    src: url("../RedlandFree.ttf");
}

@font-face {
    font-family: "Saint Regus";
    src: url("../sr.woff");
}

@font-face {
    font-family: "Harmond";
    src: url("../Harmond-ExtraBoldExpanded.otf");
}

@font-face {
    font-family: "Magilio";
    src: url("../MagilioRegular.ttf");
}

@font-face {
    font-family: "Asikue";
    src: url("../Asikue-Regular.ttf");
}

@font-face {
    font-family: "Enoway";
    src: url("../Enoway Personal Use.ttf");
}

@font-face {
    font-family: "Ragina";
    src: url("../Ragina.otf");
}

@font-face {
    font-family: "Regard";
    src: url("../Regarn-Light.ttf");
}

@font-face {
    font-family: "Ramona";
    src: url("../Ramona-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Ramona";
    src: url("../Ramona-Light.woff2");
    font-weight: 300;
}


/* Write css to resize font on screen sizes less than 600px width */
@media screen and (max-width: 700px) {
    #name {
        font-size: 20px;
    }
    .headericon img{
        width: 25px;
        height: auto;
    }

    #linkedin{
        height:25px;
    }

    #launch{
        height: 100dvh;
    }
}

@media screen and (max-width: 800px) {
    #colorpicker {
        display: none;
    }
}

/* Write css to resize font on screen sizes less than 600px width */
@media screen and (max-width: 1200px) {
    .sidebar-text{
        letter-spacing: 0px;
    }
}

.dropdown {
    display: flex;
    flex-direction: row;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-content {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    background-color: none;
    transition: opacity 1s ease-in-out;
  }
  
  /* Links inside the dropdown, make them be gray circles */
  .dropdown-content a {
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f1f1f1;
    margin: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  
  

.dropdown:hover .dropdown-content a {
    opacity: 1;
    width: 50px;
    height: 50px;
    margin: 5px;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out, margin 0.5s ease-in-out;
}