nav {
    text-align: left;
    border: 1px;
    color: red;
}

.left {
    float: left;
    border-color: gray;
}

.right {
    float: right;
}

.header {
    overflow: hidden;
    background-color: lightsteelblue;
    padding: 20px 10px;
  }
  
.clear { clear:both; }