@font-face {
    font-family: 'elenaregular';
    src: url('../fonts/elena-w9az-webfont.woff2') format('woff2'),
         url('../fonts/elena-w9az-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'alt fatgami';
  src: url('../fonts/altfatgami.woff2') format('woff2'),
      url('../fonts/altfatgami.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '11.20';
  src: url('../fonts/a120.woff2') format('woff2'),
      url('../fonts/a120.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hazelnut Pro';
  src: url('../fonts/HazelnutPro-Black.woff2') format('woff2'),
      url('../fonts/HazelnutPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hazelnut Pro';
  src: url('../fonts/HazelnutPro-Light.woff2') format('woff2'),
      url('../fonts/HazelnutPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



body {
    margin: 0;
    padding: 0;
    font-family: "Hazelnut Pro";
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease-in-out;
  }
  
  .section {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-align: center;
    z-index: 2;
  }
  
  .section:nth-child(odd) .content {
    transform: translate(-50%, -50%) translateY(-20%);
  }
  
  .section:nth-child(even) .content {
    transform: translate(-50%, -50%) translateY(20%);
  }
  
  .section h2 {
    font-size: 3em;
    margin: 0;
  }
  
  .section p {
    font-size: 1.5em;
  }
  
  .section:nth-child(1) .content {
    color: #000;
  }
  
  .section:nth-child(2) .content {
    color: #000;
  }
  
  .section:nth-child(3) .content {
    color: #000;
  }
  
  .section:nth-child(4) .content {
    color: #000;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid black;
    z-index: 3;
    padding: 5px;
  }
  
  .header h1 {
    color: inherit;
    text-align: center;
    padding: 20px;
    margin: 0;

  }

  .header-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
  }

  .header-img img {
    display: block;
    width: 100%;
    height: auto;
  }

  .header-name {
    font-family: "11.20";
    /*text-shadow: 2px 2px 0px rgba(255,255,255,1);*/
    font-size: 50px;
}

* .header {
  border-right: 1px solid black;
}

.expand-header {
  margin: 0px 0px;
  padding: 0px 20px;
  border: 0px;
  background-color: transparent;

  display: flex;

}

#arrow {
  background-color: transparent;
}

.header-toexpand {
    display: none;
    position: absolute;
    top: 100%;
    right: 25vw;
    min-width: 200px;
    padding: 10px;
    border: 1px solid #000;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  margin-right: 10px;
}

* .card-container {
  padding: 0px;
  margin: 0px;
  border: 0px;
}